@model KoleksiyoncuCom.WebUi.Models.ProductDetailsViewModel
@{
    ViewData["Title"] = "Detaylar | " + Model.Product.ProductName;
    Layout = "~/Views/_Layout.cshtml";
}
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col-4">
                <img src="@Model.Product.ImageUrl" class="img-fluid" alt="@Model.Product.ProductName">
            </div>
            <div class="col-6">
                <h3>@Model.Product.ProductName</h3>
                <h6>Stok: @Model.Product.ProductUnitsInStock</h6>
                <br />
                <h5>@Model.Product.ProductUnitPrice &#8378;</h5>
                <br />
                <form asp-controller="Sepet" asp-action="SepeteEkle" method="post" class="form-inline">
                    <input type="hidden" name="productId" value="@Model.Product.ProductId" />
                    <div class="input-group mb-3">
                        <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" max="@Model.Product.ProductUnitsInStock" style="width:100px;" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-success">
                                Sepete Ekle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2">
                <h3>Satıcı</h3>
                <h5>@Model.Seller.NameAndSurname</h5>
                <h6>Memmnuniyet: 5 / @Model.Seller.Rate</h6>
                <h6>@Model.Seller.PhoneNumber</h6>
                <h6>@Model.Seller.EmailAdress</h6>
                <h6>@Model.Seller.City</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Açıklama</h3>
                <p>@Model.Product.Description</p>
            </div>
        </div>
    </div>

