@model KoleksiyoncuCom.WebUi.Models.ProductUpdateViewModel
@{
    ViewData["Title"] = "Ürün Güncelleme";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Ürün Güncelleme</h1>

<form asp-action="Guncelle" asp-controller="Profil" method="post">
    <div class="form-group">
        <label>Ürün Adı</label>
        <input asp-for="Product.ProductName" type="text" class="form-control" value="@Model.Product.ProductName">
    </div>
    <div class="form-group">
        <label>Fiyat(TL)</label>
        <input asp-for="Product.ProductUnitPrice" type="text" class="form-control" value="@Model.Product.ProductUnitPrice">
    </div>
    <div class="form-group">
        <label>Stok</label>
        <input asp-for="Product.ProductUnitsInStock" type="text" class="form-control" value="@Model.Product.ProductUnitsInStock">
    </div>
    <div class="form-group">
        <label>Fiyat(TL)</label>
        <input asp-for="Product.ProductUnitPrice" type="text" class="form-control" value="@Model.Product.ProductUnitPrice">
    </div>
    <div class="form-group">
        <label>Kategori</label>
        <select class="form-control" asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Category,"CategoryId","CategoryName"))"></select>
    </div>
    <div class="form-group">
        <label>Görsel URL'si</label>
        <input asp-for="Product.ImageUrl" type="text" class="form-control" value="@Model.Product.ImageUrl">
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input asp-for="Product.Description" type="text" class="form-control" value="@Model.Product.Description">
    </div>
    <input asp-for="Product.ProductId" type="hidden" value="@Model.Product.ProductId" />
    <input asp-for="Product.SellerId" type="hidden" value="@Model.Product.SellerId" />
    <button type="submit" class="btn btn-success">Ürünü Güncelle</button>
</form>

