@model KoleksiyoncuCom.Bussiness.WebUi.Models.ProfileSettingsViewModel
@{
    ViewData["Title"] = "Profil Ayarları";
    Layout = "~/Views/_Layout.cshtml";
}
@section Scripts {
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Profilini Düzenle</h1>
@if (TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}
<form asp-action="Ayarlar" asp-controller="Profil" method="post">
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        <input asp-for="SellerName" type="text" class="form-control" value="@Model.SellerName">
        <span asp-validation-for="SellerName"></span>
    </div>
    <div class="form-group">
        <label>Telefon Numarası</label>
        <input asp-for="PhoneNumber" type="tel" class="form-control" value="@Model.PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label>E-Posta Adresi</label>
        <input asp-for="Email" type="email" class="form-control" value="@Model.Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>İl,ilçe</label>
        <input asp-for="Location" type="text" class="form-control" value="@Model.Location">
        <span asp-validation-for="Location"></span>
    </div>
    <div class="form-group">
        <input asp-for="SellerId" type="hidden" class="form-control" value="@Model.SellerId">
        <span asp-validation-for="SellerId"></span>
    </div>
    <button type="submit" class="btn btn-success">Bilgileri Güncelle</button>
</form>